### Env ###
build
.vscode
.idea
cmake-build-debug

### CTest ###
Testing

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Dependencies/glfw/cmake_uninstall.cmake
Dependencies/glfw/lib/libglfw3.a
Dependencies/glfw/src/glfw_config.h
Dependencies/glfw/src/glfw3.pc
Dependencies/glfw/src/glfw3Config.cmake
Dependencies/glfw/src/glfw3ConfigVersion.cmake
Dependencies/glfw/src/libglfw3.a
Dependencies/glfw/tests/
Dependencies/assimp/generated/

### CMake Patch ###
# External projects
*-prefix/

### CUDA ###
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

### Misc ###
*.dll
*.a
*.ninja
*.pc
Dependencies/assimp/contrib/zlib/libzlibstatic.a
Dependencies/assimp/include/assimp/config.h
Dependencies/assimp/revision.h
Dependencies/glm/.ninja_deps
Dependencies/glm/.ninja_log
Dependencies/assimp/contrib/zlib/libzlibstatic.a
Dependencies/assimp/cmake_uninstall.cmake
